@import '../../node_modules/bulma/bulma.sass';

.login-form {
  padding-top: 4em;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}